*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

#btn{
    padding: 10px;
    cursor: pointer;
    background-color: purple;
    color: aliceblue;
}

#menuDrop{
    display: none;
    list-style: none;
    border: 2px solid purple;
}

#menuDrop.emilly{
    display: block;
}